#wp-admin-bar-wdcab_root {
	display:block !important;
}
#wp-admin-bar-wdcab_root > a > img {
	position: relative;
	padding: 0;
	vertical-align: middle;
	margin: -4px 0 0 6px;
	float: none;
	display: inline !important;
	width:24px;
	line-height:24px;
	margin:-4px 0 0 6px;
}

@media screen and (max-width:782px) {
	#wp-admin-bar-wdcab_root > a > img {
		width:28px;
	}
}