.subscribe-by-email-error,.subscribe-by-email-updated {
	width: 97%;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	border-radius: 3px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.subscribe-by-email-error {
	background-color: #FFEBE8;
	border-color: #C00;
}

.subscribe-by-email-updated {
	background-color: #DEFFCC;
	border-color: #60B854;
}

.subscribe-by-email-field {
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 7px !important;
	margin-bottom: 7px;
}

.subscribe-by-email-submit {
	padding: 3px 4px !important;
	margin-bottom: 10px;
}

.subscribe-by-email-loader {
	width: 16px;
	height: 16px;
	margin-left:5px;

	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
